<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Online Auction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css}"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript"  th:src="@{/resources/js/Bid.js}"></script>

<script type="text/javascript" th:src="@{/resources/js/jquery.countdown.js}" ></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.countdown.min.js}" ></script>
<link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/genericons/genericons.css}" />
</head>
<body>
<!--HEADRER-->
<div class="header">
     <div class="topheader">
    	<div class="topheader-inner w1020px marginauto">	
        	<ul class="pull-right">
            
                <li th:if="${user=='anonymousUser'}"><a th:href="@{/login}">Login</a></li>
                
                <li th:if="${user=='anonymousUser'}"><a th:href="@{/register}">Register</a></li>
                 <li th:if="${user!='anonymousUser'}"><a th:href="@{/thongtin}"><span   th:text="${user}"></span></a></li>
                <li><a th:href="@{/demnguoc}">Lien he</a></li>
               <li><a th:if="${user!='anonymousUser'}" th:href="@{/logout}">Logout</a></li>
            </ul>
            
        </div>
    </div>
       
   <div class="branch">
    	<div class="w1020px marginauto">
			<div class="pull-left">
            <img src="resources/images/icon-logo/onlineauction.gif" />
            </div>
         </div>  
        
    </div> 
	
    <div class="navbar">
    	<div class="navbar-inner">
        	<div class="w1020px marginauto">
            	<ul class="nav ">
                    <li class="active">
                    <a th:href="@{/index}">Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Dang dau gia</a></li>
                    <li><a href="#">Mua hang</a></li>
                     <li><a th:href="@{/banhangdaugia}">Ban hang-Dau gia</a></li>
                    <li><a href="#">Ket qua</a></li>
                  
                </ul>
                <ul class="nav pull-right">
                	
                    <li class="divider-vertical1">
                    <input type="text" name="search"></input>
                    </li>
		          <li class="divider-vertical2">
		          <input type="submit" name="sbmsearch" value="Search"></input>
		          </li>	
                </ul>
            </div>
        </div>
    </div>
    <div></div>

</div>
<!--END-HEADRER-->


<!--MAINBODY-->
<div class="mainbody left-fl">
	<div class="mainbody-content w1020px marginauto">
    	<div class="left-area w220px left-fl">
        	<div class="block menu-list branch-mobile "><h4 class="pd5x10">Catelogy</h4>
        	<!--Menu Sach  -->
            	<ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Books</span>
                           
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- menu bong -->
                <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Bong</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Kinh</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Balo</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Usb</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Loa</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!--end catelogy  -->
        
          
            <div class="block bannerw220"><!--Chi lay anh trong banner, Tai phan minh hoa dang lay trong phan logo-->
            	<ul class="clean">
                	<li><a href="#">
                    	<img src="resources/images/banner/banner1.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/banner/banner2.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 33.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 32.png" />
                    	</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai-->
        <div class="right-area w775px left-fl pd10">
   
        	<!--END=Accessories-->
            <div class="clear wp100"></div>
            <!--GridProduct-->
            
            <!--GridProduct-->
            <!--Nhom san pham-->
            <div class="group product clearfix">
            <!--title-->
            <div class="header2">
                <span class="title">
                <span>
                	<a href="#">Details</a>
                </span>
                </span>
            </div>
          <div class="grid w255px  left-fl mg-top5 gachbottom" >
            <div class="left-fl imgProduct w110px">
                    	<a href="#"><span class="imgProduct">
                    	<img class="resizeP-Home" th:src="@{'image/'+${item.image}}" />
                        </span></a>
              </div>
                                        
              </div>
              <div class="grid w255px  left-fl mg-top5 gachbottom">
               <div>
               			<form th:action="@{/bidauction}" method="Post" th:object="${bid}" th:id="${item.id}">
               				<h2><label th:text="@{'Id: '+${item.id}}"></label></h2>
                    		<h2><label th:text="@{'Title: '+${item.title}}"></label></h2>
                    		<h2><label th:text="@{'Description: '+${item.description}}"></label></h2>
                        	<b><label th:text="@{'Cost: '+${item.bidMinimum}+' VND'}"></label></b>
                        	<h2><label th:text="@{'Date Start: '+${#dates.format(item.bidStartdate,'dd/MM/yyyy HH:mm')}}"></label></h2>
                        	<h2><label th:text="@{'Date End: '+${#dates.format(item.bidEnddate,'dd/MM/yyyy HH:mm')}}"></label></h2>
                        	<label>Rest time:</label><div class="clear mg-left60 icon" th:attr="data-countdown =${#dates.format(item.bidEnddate, 'yyyy/MM/dd HH:mm')}"></div>

		                    <input type="hidden" name="bidCurrent"/>
		                    <input type="hidden" name="bidSatus"/>
		                     <input type="hidden" name="id" id="id" th:value="${item.id}"/>
		                    <input type="hidden" name="bidminimum" id="bidminimum" th:value="${item.bidMinimum}"/>
		                    <input type="hidden" name="bidincremenent" id="bidincremenent" th:value="${item.bidIncremenent}" />
		                    	<span class="btn btn-info "><a th:href="@{/index}">Back</a></span>
		                      <input class="btn btn-inverse " type="button"  title="Click de mua hang." value="Mua" th:onclick="'javascript:Bid(\''+${item.id}+'\');'"/>
                     </form> 
                    
                  </div>
                   
                  
            </div>
            <div class="grid w255px  left-fl mg-top5 gachbottom">
               <div>
               				<table border="1">
               				<tr><td>So tien</td><td>Thoi gian</td><td>Thanh vien</td></tr>
               				<tr><td>50000</td><td>9:32:2</td><td>thanhtue2011</td></tr>
               				<tr><td>200000</td><td>16:24:10</td><td>khiem2015</td></tr>
               				<tr><td>3000000</td><td>20:32:34</td><td>thanhtue</td></tr>
               				</table>
              
                  </div>
                   
                  
            </div>
             
             
              </div>
              </div>
   </div>
      </div>
<!--END-MAINBODY-->
<script type="text/javascript">
		$('[data-countdown]').each(function() {
			var $this = $(this), finalDate = $(this).data('countdown');
			$this.countdown(finalDate, function(event) {
				$this.html(event.strftime('%D days %H:%M:%S'));
			}).on('finish.countdown', function(event) {
				$this.html("JustStop");
				$('button#countdown').addClass('disabled');
			});
		});
	</script>

<!--FOOTER-->
<div class="footer wp100">
          <p align="center">Copyright: Tran Thanh Tue</p>  <p align="center">Mobile: 0166 3040977</p>         
</div>
<!--END-FOOTER-->
</body>
</html>