<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Online Auction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>

<link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css}"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript"  th:src="@{/resources/js/Bid.js}"></script>

<script type="text/javascript" th:src="@{/resources/js/jquery.countdown.js}" ></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.countdown.min.js}" ></script>
<link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/genericons/genericons.css}" />
<!-- stars -->

</head>
<body>
<!--HEADRER-->    
    <div class="header">
     <div class="topheader">
    	<div class="topheader-inner w1020px marginauto">	
        	<ul class="pull-right">
            
                <li th:if="${user=='anonymousUser'}"><a th:href="@{/login}">Login</a></li>
                
                <li th:if="${user=='anonymousUser'}"><a th:href="@{/register}">Register</a></li>
                 <li th:if="${user!='anonymousUser'}"><a th:href="@{/thongtin}"><span   th:text="${user}"></span></a></li>
                <li><a th:href="@{/demnguoc}">Lien he</a></li>
               <li><a th:if="${user!='anonymousUser'}" th:href="@{/logout}">Logout</a></li>
            </ul>
            
        </div>
    </div>
   
   <div class="branch">
    	<div class="w1020px marginauto">
			<div class="pull-left">
            <img src="resources/images/icon-logo/onlineauction.gif" />
            </div>
         </div>  
        
    </div> 
	
    <div class="navbar">
    	<div class="navbar-inner">
        	<div class="w1020px marginauto">
            	<ul class="nav ">
                    <li class="active">
                    <a th:href="@{/index}">Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Dang dau gia</a></li>
                    <li><a th:href="@{/sellredirect}">Mua hang</a></li>
                     <li><a th:href="@{/banhangdaugia}">Ban hang-Dau gia</a></li>
                     <li th:if="${user!='anonymousUser'}"><a th:href="@{/capnhathang}">Cap nhat hang</a></li>
                    <li><a href="#">Ket qua</a></li>
                </ul>
                <ul class="nav pull-right">
                	
                    <li class="divider-vertical1">
                    <input type="text" name="search"></input>
                    </li>
		          <li class="divider-vertical2">
		          <input type="submit" name="sbmsearch" value="Search"></input>
		          </li>	
                </ul>
            </div>
        </div>
    </div>
    <div></div>

</div>
<!--END-HEADRER-->


<!--MAINBODY-->
<div class="mainbody left-fl">
	<div class="mainbody-content w1020px marginauto">
    	<div class="left-area w220px left-fl">
        	<div class="block menu-list branch-mobile "><h4 class="pd5x10">Catelogy</h4>
        	<!--Menu Sach  -->
            	<ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Books</span>
                           
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- menu bong -->
                <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Bong</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Kinh</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Balo</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Usb</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Loa</span>
                            
                        </a>
                        
                    </li> 
                    
                </ul>
                <!--end catelogy  -->
        
          
            <div class="block bannerw220"><!--Chi lay anh trong banner, Tai phan minh hoa dang lay trong phan logo-->
            	<ul class="clean">
                	<li><a href="#">
                    	<img src="resources/images/banner/banner1.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/banner/banner2.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 33.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 32.png" />
                    	</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai-->
        <div class="right-area w775px left-fl pd10">
   
        	<!--END=Accessories-->
            <div class="clear wp100"></div>
            <!--GridProduct-->
            
            <!--GridProduct-->
            <!--Nhom san pham-->
            <div class="group product clearfix">
            <!--title-->
            <div class="header2">
                <span class="title">
                <span>
                	<a href="#">Details</a>
                </span>
                </span>
            </div>
          <div class="grid w255px  left-fl mg-top5 gachbottom" >
            <div class="left-fl imgProduct w110px">
                    	<a href="#"><span class="imgProduct">
                    	<img class="resizeP-Home" th:src="@{'image/'+${item.image}}" />
                        </span></a>
              </div>
                                        
              </div>
              <div class="grid w255px  left-fl mg-top5 gachbottom">
               <div>
                            <form th:action="@{/bidauction}" method="Post" th:object="${bid}" th:id="${item.id}">
               				<h2><label th:text="@{'Id: '+${item.id}}"></label></h2>
               				<h2><label th:text="@{'Seller: '+${item.account.username}}"></label></h2>
               				<h2><label th:text="@{'Rating: '+${item.account.rating}}"></label></h2>
               				<h2 ><label>Rate:</label></h2><h2><li class="rating-select" th:each="i : ${#numbers.sequence(1,5)}">
						    <a th:href="@{${user}+'/rating/'+${item.id}+'/'+${i}}"><label class="glyphicon glyphicon-star-empty" ></label></a>
							</li></h2>
							<h2><label>Rate seller:</label>
							<li class="rating-select" th:each="i : ${#numbers.sequence(1,5)}">
						   <label  th:if="${i le item.account.rating}" class="glyphicon glyphicon-star"></label>
						   <label  th:if="${i gt item.account.rating}" class="glyphicon glyphicon-star-empty"></label>
							</li>
							</h2>
                    		<h2><label th:text="@{'Title: '+${item.title}}"></label></h2>
                    		<h2><label th:text="@{'Description: '+${item.description}}"></label></h2>
                        	<b><label th:text="@{'Bid Current: '+${item.bidMinimum}+' VND'}"></label></b>
                        	<h2><label th:text="@{'Date Start: '+${#dates.format(item.bidStartdate,'dd/MM/yyyy HH:mm')}}"></label></h2>
                        	<h2><label th:text="@{'Date End: '+${#dates.format(item.bidEnddate,'dd/MM/yyyy HH:mm')}}"></label></h2>
                        	<label>Rest time:</label><div class="clear mg-left40 icon" th:attr="data-countdown =${#dates.format(item.bidEnddate, 'yyyy/MM/dd HH:mm')}"></div>
                        	
                        	<div class="clear mg-left30">
                        	<input type="text" name="bidincrement" th:if="${item.bidCurrent!=0}" th:value="${item.bidCurrent+item.bidIncremenent}" style="padding-left:10px;width: 90px;;height:20px"></input>
                        	</div>
                    	    <input type="hidden" name="bidCurrent"/>
		                    <input type="hidden" name="bidSatus"/>
		                     <input type="hidden" name="id" id="id" th:value="${item.id}"/>
		                      <input type="hidden" name="bidminimum" th:id="@{'bidminimum'+${list.id}}" th:if="${list.bidCurrent==0}" th:value="${list.bidMinimum}"/>
                     <input type="hidden" name="bidminimum" th:id="@{'bidminimum'+${list.id}}" th:if="${list.bidCurrent!=0}" th:value="${list.bidCurrent}"/>
                     
                      <input type="hidden" name="bidincremenent" th:id="@{'bidincremenent'+${list.id}}" th:value="${list.bidIncremenent}" />
		                     <span class="btn btn-info "><a th:href="@{/index}">Back</a></span>
		     		         <input class="btn btn-inverse " th:if="${list.account.username!=user}" type="button"  title="Click de dat gia." value="Bid" th:onclick="'javascript:Bid(\''+${item.id}+'\');'"/>
                    	    </form>
                  </div>
                   
                  
            </div>
            <div class="grid w255px  left-fl mg-top5 gachbottom">
               <div >
               				<label>Danh sach cac thanh vien da dau gia</label>
               				<table border="1">
               				<tr>
               				<td>So tien</td>
               				<td>Thoi gian</td>
               				<td>Thanh vien</td>
               				</tr>
               				<tr th:each="list : ${listbid}">
               				
               				<td th:text="${list.bidCurrent}"></td>
               				<td th:text="${list.bidCurrentdate}"></td>
               				<td th:text="${list.account.username}"></td>
               				</tr>
               				</table>
              
                  </div>
                   
                  
            </div>
             
             
              </div>
              </div>
   </div>
      </div>
<!--END-MAINBODY-->
<script type="text/javascript">
		$('[data-countdown]').each(function() {
			var $this = $(this), finalDate = $(this).data('countdown');
			$this.countdown(finalDate, function(event) {
				$this.html(event.strftime('%D days %H:%M:%S'));
			}).on('finish.countdown', function(event) {
				$this.html("JustStop");
				$('button#countdown').addClass('disabled');
			});
		});
	</script>

<!--FOOTER-->
<div class="footer wp100">
          <p align="center">Copyright: Tran Thanh Tue</p>  <p align="center">Mobile: 0166 3040977</p>         
</div>
<!--END-FOOTER-->
</body>
</html>