<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Online Auction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
<link rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}" />
<script type="text/javascript" charset="UTF-8"  th:src="@{/resources/js/format.js}"></script>

</head>
<body>
<!--HEADRER-->
<div class="header">
    
     <div class="topheader">
    	<div class="topheader-inner w1020px marginauto">	
        	<ul class="pull-right">
            
                <li><a th:href="@{/login}">Login</a></li>
                
                <li><a th:href="@{/register}">Register</a></li>
               
                <li><a th:href="@{/lienhe}">Lien he</a></li>
               <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
            
        </div>
    </div>
    
   <div class="branch">
    	<div class="w1020px marginauto">
			<div class="pull-left">
            <img src="resources/images/icon-logo/onlineauction.gif" />
            </div>
         </div>  
        
    </div> 
	
    <div class="navbar">
    	<div class="navbar-inner">
        	<div class="w1020px marginauto">
            	<ul class="nav ">
                    <li class="active">
                    <a th:href="@{/index}">Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Dang dau gia</a></li>
                    <li><a href="#">Mua hang</a></li>
                     <li><a href="#">Ban hang-Dau gia</a></li>
                    <li><a href="#">Ket qua</a></li>
                  
                </ul>
                <ul class="nav pull-right">
                	
                    <li class="divider-vertical1">
                    <input type="text" name="search"></input>
                    </li>
		          <li class="divider-vertical2">
		          <input type="submit" name="sbmsearch" value="Search"></input>
		          </li>	
                </ul>
            </div>
        </div>
    </div>
    <div></div>

</div>
<!--END-HEADRER-->


<!--MAINBODY-->
<div class="mainbody left-fl">
	<div class="mainbody-content w1020px marginauto">
    	<div class="left-area w220px left-fl">
        	<div class="block menu-list branch-mobile "><h4 class="pd5x10">Catelogy</h4>
        	<!--Menu Sach  -->
            	<ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Books</span>
                           
                        </a>
                        <ul >
                        	
                            <li><a href="#">Doi song</a></li>
                            <li><a href="#">Cong nghe</a></li>
                            
                        </ul>
                        
                    </li> 
                    
                </ul>
                <!-- menu bong -->
                <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Bong</span>
                            
                        </a>
                        <ul >
                        	<li><a href="#">Bong da</a></li>
                            <li><a href="#">Bong chuyen</a></li>
                            
                        </ul>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Kinh</span>
                            
                        </a>
                        <ul >
                        	<li><a href="#">Kinh mat</a></li>
                            <li><a href="#">Kinh can</a></li>
                            
                        </ul>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Balo</span>
                            
                        </a>
                        <ul >
                        	<li><a href="#">Balo lon</a></li>
                            <li><a href="#">Balo nho</a></li>
                            
                        </ul>
                        
                    </li> 
                    
                </ul>
                 <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Usb</span>
                            
                        </a>
                        <ul >
                        	<li><a href="#">Loai 2G</a></li>
                            <li><a href="#">Loai 4G</a></li>
                           
                        </ul>
                        
                    </li> 
                    
                </ul>
                <!-- Menu kinh -->
                 <ul class="nav nav-list w190px bs-docs-sidenav ">
                	<li class="active">
                        <a href="#" >
                    		<span class="branch-mobile">Loa</span>
                            
                        </a>
                        <ul >
                        	<li><a href="#">Tai nghe</a></li>
                            <li><a href="#">Loa</a></li>
                            
                        </ul>
                        
                    </li> 
                    
                </ul>
                <!--end catelogy  -->
        
          
            <div class="block bannerw220"><!--Chi lay anh trong banner, Tai phan minh hoa dang lay trong phan logo-->
            	<ul class="clean">
                	<li><a href="#">
                    	<img src="resources/images/banner/banner1.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/banner/banner2.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 33.png" />
                    	</a>
                    </li>
                    <li><a href="#">
                    	<img src="resources/images/product/Image 32.png" />
                    	</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai-->
        <div class="right-area w775px left-fl pd10">
   
        	<!--END=Accessories-->
            <div class="clear wp100"></div>
            <!--GridProduct-->
            
            <!--GridProduct-->
            <!--Nhom san pham-->
            <div class="group product clearfix">
            <!--title-->
           
        <p th:text="${msg}" style="color:#FF0000">Ban co muon cap nhat thong tin?<a href="#">Click day!</a></p>
                
       </div>         
   
            <!--END=GridProduct-->
            <div class="clea "></div>
            
      </div>

 </div>
</div>
<!--END-MAINBODY-->


<!--FOOTER-->
<div class="footer wp100">
          <p align="center">Copyright: Tran Thanh Tue</p>  <p align="center">Mobile: 0166 3040977</p>         
</div>
<!--END-FOOTER-->
</body>
</html>