<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Admin</title>

    <link th:href="@{/resources/css/admin/bootstrap.min.css}" rel="stylesheet"/>
     <link rel="stylesheet" media="screen" th:href="@{/resources/css/genericons/genericons.css}" />
    <link th:href="@{/resources/css/admin/sb-admin.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/admin/morris.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/admin/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    
     <script th:src="@{/resources/js/admin/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/resources/js/admin/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/resources/js/admin/raphael.min.js}"></script>
    <script th:src="@{/resources/js/admin/morris.min.js}"></script>
    <script th:src="@{/resources/js/admin/morris-data.js}"></script>
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Pages Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-setup"></i><span th:text="@{${#httpServletRequest.remoteUser}+''}"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="icon-index"></i>Index</a>
                    </li>
                   
                    <li>
                        <a th:href="@{/admin/adminaccount}"><i class="icon-account"></i>Account</a>
                    </li>
                    <li>
                        <a href="admincategory.html"><i class="icon-cate"></i>Category</a>
                    </li>
                     <li>
                        <a href="adminitem.html"><i class="icon-item"></i>Item</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="icon-item"></i> Forms</a>
                    </li>
                   
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                    <form class="formsearch">
                    <h3>Search:<input style="padding-right:20px" type="text" value=""/> <i class="icon-search"></i></h3>       
                     </form>
                        <ol class="breadcrumb">
                            <li class="active">
							 <ul class="pagination" th:each="i : ${#numbers.sequence(0,(total-1))}">
								<li><a th:href="@{'/admin/admincategory?page='+${i}}"><label th:text="${i+1}">number</label></a></li>
							</ul>
                            </li>
                        </ol>
                    </div>
                </div>
               <p th:if="${msg!=null} " th:text="@{${msg}+''}" style="color:#FF0000"></p>
                    
            <div class="row">
			<div class="col-lg-12">
			<h2>List Category</h2>
                        <div class="table-responsive">
                            <table  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
										<th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="list : ${listcategory}">
                                        <td th:text="${list.id_category}"></td>
                                        <td th:text="${list.title}"></td>
                                        <td th:text="${list.description}"></td>
        								<td>
        								<form  th:action="@{/admin/editcategory}" method="Post" th:object="${category}" >
        								<input type="hidden" name="id" th:value="${list.id_category}" />
        								<input type="submit" value="Edit"/>
        								</form>
        								</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
						<form th:action="@{/admin/adminaddcategory}" method="Get">
						<input type="submit" value="Add new"/>
						</form>
			
                        </div>
                  	
			</div>
            </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
     

</body>

</html>